body {
  margin-top: 25px;
}

.orderbook__internal {
  margin-top: 50px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.orderbook__side {
  flex: 1 1 50%;
}

.rowI { /* because milgram overrides row */
  display: flex;
  justify-content: space-around;
}

.row__price{
  flex: 1 1 45%; /* flexgrow, flexshrink, flexbasis */
  padding-left: 5px;
}

.row__quantity {
  flex: 1 1 45%;
}

.row__cancelbutton {
  flex: 1 1 0.1%;
}

.row__cancelbutton__el {
  float: right;
  padding-right: 5px;
}

.orderbook__title-bids {
  width: 50%;
  display: inline;
  text-align: center;
}

.orderbook__title-asks {
  width: 50%;
  display: inline;
  text-align: center;
}

.orderbook__title {
  width: 100%;
  display: flex;
}

.positions__internal {
  width: 70vw
}

.positions__title {

}

.positions__bids > .rowI {
  background: rgba(40, 200, 40, 0.2)
}

.positions__asks > .rowI {
  background: rgba(200, 40, 40, 0.2)
}

.error {
  color: red;
}

input[type='email']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='url']:focus,
textarea:focus,
select:focus {
  border-color: #000;
  outline: 0;
}

select:focus {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="#000" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>');
}

/* Custom color */
.button-black {
  background-color: black;
  border-color: black;
}
.button-black.button-clear,
.button-black.button-outline {
  background-color: transparent;
  color: black;
}
.button-black.button-clear {
  border-color: transparent;
